<p>
    <strong>LibreArp is free software licensed under the <a href="/license/">GNU General Public License v3</a><br />
    put together by <a href="/contributors/">the LibreArp contributors</a></strong>
</p>

<p>This website also has <a href="{{site.gitlab.page_repository_url}}">its public repository</a> anyone can contribute to.</p>

<p>LibreArp, as well as this website, uses the <a href="https://overpassfont.org/">Overpass font</a> under the <a href="https://github.com/RedHatOfficial/Overpass/blob/master/LICENSE.md">SIL Open Font License 1.1</a>.</p>
