// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: rgb(59, 56, 48) !default;
$header-bg-color-secondary: rgb(42, 40, 34) !default;

// Text
$section-headings-color: rgb(59, 56, 48) !default;
$body-text-color: rgb(42, 40, 34) !default;
$body-link-color: rgb(137, 165, 26) !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: rgb(108, 129, 22) !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
